.category h4 {
  color: #717172;
  font-weight: 600;
  font-size: calc(1.5em + .5vw)
}

.category h1 {
  color: #3D388E;
  font-weight: 700;
  font-size: calc(4em + .8vw)
}

.category p {
  color: #999CA0;
  font-weight: 400;
  font-size: calc(1.5em + .5vw)
}

.category p>span {
  font-weight: 700;
}

.category button {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: calc(0.1em + 1vw);
  color: #F2F2F2;
  width: calc(7em + 1vw);
  height: calc(1.7em + 1vw);
  background: linear-gradient(98.23deg, #3D388E 2.28%, #645FBC 67.42%);
  border-radius: 20px;
  border-width: 0;
}

.category button:hover {
  background: linear-gradient(98.23deg, #2d2a6b 2.28%, #5652a1 67.42%);
  box-shadow: .5px .5px 2px rgb(71, 71, 71);
  color: #c2c2c2;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #2d2a6b;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #b1afe2;
    border-radius: 20%;
  }
}